<!DOCTYPE html>
<html>
  <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="styles/styles.css">
        <script src="js/app.js"></script>
        <meta charset="UTF-8">
        <title>Error page not found!</title>
  </head>
  <body>
    {{>header}}
     <p>The page you are looking for cannot be found, please try again</p>
    {{>footer}}
  </body>
</html>