<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="styles/styles.css">
        <meta charset="UTF-8">
        <title>title</title>
  </head>
  <body>
    {{>header}}
    {{>footer}}
    <img src="images/1.jpg">
  </body>
</html>