<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">

<div class="ui container">
  <h1 class="header_title"><i class="cloud icon"></i>{{title}}</h1>
</div>

<div class="ui secondary pointing menu">
  <a class="item" href="/">
    Home
  </a>
  <a class="item" href="/about">
    about
  </a>
  <a class="item" href="/help">
    help
  </a>
 
</div>
  <p></p>
</div>